[submodule "modules/Shallow-Expressions"]
	path = modules/Shallow-Expressions
	url = git@github.com:isabelle-utp/Shallow-Expressions.git
[submodule "modules/Z_Machines"]
	path = modules/Z_Machines
	url = git@github.com:isabelle-utp/Z_Machines.git
[submodule "modules/Z_Toolkit"]
	path = modules/Z_Toolkit
	url = git@github.com:isabelle-utp/Z_Toolkit.git
[submodule "modules/explore-subgoal"]
	path = modules/explore-subgoal
	url = git@github.com:isabelle-utp/explore-subgoal.git
[submodule "modules/interaction-trees"]
	path = modules/interaction-trees
	url = git@github.com:isabelle-utp/interaction-trees.git
